{% extends "backend/layout.html" %}
{% block content %}
<h1>
    {{ title }}
    <a class="button u-pull-right" href="/admin/sources">Cancel</a>
</h1>

<form action="" method="post" name="source">
    <div class="row">
        {{ form.hidden_tag() }}
        <div class="six columns">
            <label for="sourceNameInput">Source name</label>
            {{ form.name(class_="u-full-width") }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            <label for="sourceNameInput">Crawler</label>
            {{ form.crawler(class_="u-full-width") }}
            {% for error in form.crawler.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="six columns">
            <label for="sourceUrlInput">Source url</label>
            {{ form.url(class_="u-full-width") }}
            {% for error in form.url.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>
    <input class="button-primary u-pull-right" type="submit" value="Save">
</form>
{% endblock %}
