{% extends "backend/layout.html" %} {% block content %}
<h1>
        Articles <span id="count">{{ count if count }}</span>
    </h1>

<div class="row">
    <input id="search" type="text" class="u-full-width" placeholder="search articles by title or source" data-list=".list" autofocus />
</div>

<div class="row">
    <span class="display">
        display: <a href="/admin/articles">all</a>  |
        <a href="?status=today">today</a>  |
        <a href="?status=new">new</a>  |
        <a href="?status=processed">processed</a>  |
        <a href="?status=archived">archived</a>
      </span>
</div>

<div class="row">
    {% if articles.count() %}
    <table class="u-full-width">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="rows" id="check-all" />
                </th>
                <th>Source</th>
                <th>Title</th>
                <th>Status</th>
                <th>Published</th>
                <th><i class="fa fa-lg fa-trash delete-all" aria-hidden="true" title="delete all selected"></i></th>
            </tr>
        </thead>
        <tbody id="articles-list">
            <!-- include articles list partial -->
            {% include 'backend/articles/list.html' %}
        </tbody>
    </table>
    {% else %} No articles found. {% endif %}
</div>


<script type="text/javascript">
    $(function() {
        // delete oject
        $(".delete").click(function() {
            if (confirm('Delete this article?')) {
                var id = $(this).attr('id');
                location.href = '/admin/articles/' + id + '/delete/';
            }
        });

        // delete all selected rows
        $(".delete-all").click(function() {
            if (confirm('Delete all selected articles?')) {
                var list = '';
                $('.check').each(function() {
                    if ($(this).prop("checked") == true) {
                        list += $(this).attr('id') + '$'
                    }
                });
                location.href = '/admin/articles/' + list + '/delete_all/';
            }
        });

        // select all rows
        $("#check-all").click(function() {
            state = $(this).prop("checked");
            $('.check').each(function() {
                $(this).prop("checked", state)
            })
        });

        // live search
        $('#search').keyup(function(query) {
            var q = this.value;
            if (q.length > 0) {
                $.ajax({
                    url: '/admin/articles/search/' + q,
                    type: 'get',
                    success: function(data) {
                        //console.log(data)
                        $('#articles-list').html(data.data)
                        $('#count').html(data.count)
                    }
                })
            }
        });
    })
</script>

{% endblock %}
